
/* Tests to make sure the stylesheet loaded */
* {
    background-color: #ffc0cc;
}

.center {
    text-align: center;
}

/*********** Styling for Header on Home Page - Start *************/

.indivnav {
    color: darkgrey;
    padding-left: 80px;
    padding-right: 80px;
}

.nav {
    padding-left: 150px;
    font-size: 20px;
}

.navBar {
    background-color: deepskyblue;
}

.right-side {
    float: right;
    padding-right:20px;
}

.left-side {
    float: left;
    text-align: left;
}

.wrap-text {
    list-style: none;
}

span {
    font-weight: bold;
}

/* Photos pull right and pull left - START */

.right {
    float: right;
}

.left {
    float: left;
}
/* Photos pull right and pull left - END */

.thrift {
    text-align: center;
}

.size-340 {
    height: 340px;
    padding-left: 408px;
    padding-right: 408px;
}

.chap_graphic {
    padding-top: 8px;
    padding-left: 100px;
}

/*********** Styling for Header on Home Page - Finish *************/



/*********** Styling for Footer on Home Page - Start *************/

footer {
    text-align: center;
}