<!-- Includes hero picture for the home page, here -->
<!--             Alternatively can put this picture on the main index.html page                -->
<!-- This way each page could have its own picture-->


    <!-- Hero kitty -->
    <!--<img src="../images/1600_350.jpeg">-->


    <!-- 2 pictures - left and right - with text in center -->
    <div class="pictures">
        <img class="right" src="../images/400_350.jpeg">
        <img class="left" src="../images/400_350.jpeg">
    </div>

    <div class="thrift"> Thrift Store <span> A MINISTRY? </span> </div>
    <div class="answer size-340"> How can a thrift store be a ministry? Aren’t thrift stores a place where you can buy clothes, shoes and furniture? Well yes! The C.H.A.P. Store is exactly that… and so much more! Not only do we sell home items, toys and books, but we also have an emergency food shelf available for those in need and we pray for people who come in seeking spiritual advice. The employees and volunteers here at the store Care, Help and Provide for those in need! In fact, Caring Helping and Providing is what C.H.A.P. means!<br/>

        <img class="chap_graphic" src="../images/380_190.jpeg">
    </div>


    <div class="involved"> <span>How can YOU get involved in C.H.A.P.?</span>
Whether you are looking for a volunteer opportunity to somehow get involved and make a difference or a community service project with a group of friends or your church, The C.H.A.P. Store is ALWAYS looking for help! Hanging clothes and washing dishes, praying and talking over a cup of complementary coffee in the Customer Corner, or just being there for that one person in need… that’s the BEST feeling in the world! Please contact us if you are interested in helping out in some way.</div>
